
<% for( const feedback of flash() ) {  %>
    <div class="alert alert-<%= feedback.type.toLowerCase() == 'error'? 'danger' : feedback.type.toLowerCase() %> alert-bs-dismissible fade show" role="alert" style="position: absolute; top: 7vh; left: 50%; transform: translateX(-50%);">
      <strong><%= feedback.type %>  </strong> <%= feedback.message %> 
      <button type="button" class="btn-close fade show" data-bs-dismiss="close" aria-label="Close">
          
          <% console.log(feedback.message); %>
        </button>
        </div>
        <% } %>
   <%# script %> 
    <% if (locals.formErrors) { %>
        <% for (const name in locals.formBody) {
            const value = locals.formBody[name]; %>
                var input = document.querySelector('[name=<%- name %>]')
                if (input.type == "radio") {
                    $('[name=<%- name %>][value=<%- value %>]').prop('checked', true)
                }else{
                    input.value= "<%- value %>"
                }
        <% } %>
    
        <% for (const name in locals.formErrors) {
            const msg = locals.formErrors[name].msg; %>     
            document.querySelector('[name=<%- name %>]')?.classList.add('is-invalid') 
            $('[name=<%- name %>]').parent().append('<div class="alert mt-4 alert-danger"><%= msg %></div>')
        <% } %>
    <% } %>   
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                  <span>Copyright &copy; Supercoded 2023</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
      </div>
      <!-- End of Page Wrapper -->
  
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
  
      <!-- Logout Modal-->
      <div
        class="modal fade"
        id="logoutModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button
                class="close"
                type="button"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              Select "Logout" below if you are ready to end your current session.
            </div>
            <div class="modal-footer">
              <button
                class="btn btn-secondary"
                type="button"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
          </div>
        </div>
      </div>
  
  <!-- jquery link -->
  <script src="/js/jquery.min.js"></script>
    <script>
           $(window).on('load',function(){
            setTimeout(function(){
              $(".preloader").fadeOut('slow');
            }, 600);
          });
    </script>
      <!-- Bootstrap core JavaScript-->
      <script src="/js/bootstrap.bundle.min.js"></script>
  
      <!-- Core plugin JavaScript-->
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  
      <!-- Custom scripts for all pages-->
      <script src="/js/sb-admin-2.min.js"></script>
  
      <!-- Page level plugins -->
      <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
      <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  
      <!-- Page level custom scripts -->
      <script src="/js/demo/datatables-demo.js"></script>
  
      <!--fontawesome javscript -->
      <script src="/js/all.min.js"></script>
    </body>
  </html>